USE [master]
GO
/****** Object:  Database [Budweg]    Script Date: 17-03-2026 10:04:44 ******/
CREATE DATABASE [Budweg]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Budweg', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\Budweg.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Budweg_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\Budweg_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Budweg].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Budweg]
GO
/****** Object:  Table [dbo].[DeliveryNote]    Script Date: 17-03-2026 10:04:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeliveryNote](
	[OrderNo] [int] IDENTITY(1,1) NOT NULL,
	[StartQuantity] [int] NOT NULL,
	[ItemNo] [int] NOT NULL,
 CONSTRAINT [DeliveryNote_PK] PRIMARY KEY CLUSTERED 
(
	[OrderNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 17-03-2026 10:04:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[EmployeeID] [nvarchar](8) NOT NULL,
	[FullName] [nvarchar](50) NOT NULL,
	[Title] [nvarchar](20) NOT NULL,
 CONSTRAINT [Employee_PK] PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Item]    Script Date: 17-03-2026 10:04:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Item](
	[ItemNo] [int] NOT NULL,
 CONSTRAINT [Item_PK] PRIMARY KEY CLUSTERED 
(
	[ItemNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LogTime]    Script Date: 17-03-2026 10:04:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LogTime](
	[LogID] [int] IDENTITY(1,1) NOT NULL,
	[TimeStampIn] [datetime2](7) NOT NULL,
	[TimeStampOut] [datetime2](7) NOT NULL,
	[StationNo] [int] NOT NULL,
	[OrderNo] [int] NOT NULL,
 CONSTRAINT [LogTime_PK] PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NumberProcessed]    Script Date: 17-03-2026 10:04:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NumberProcessed](
	[OrderNo] [int] NOT NULL,
	[StationNo] [int] NOT NULL,
	[QuantityAtEntry] [int] NOT NULL,
	[QuantityAtExit] [int] NOT NULL,
	[Waste] [int] NOT NULL,
	[EmployeeID] [nvarchar](8) NOT NULL,
 CONSTRAINT [NumberProcessed_PK] PRIMARY KEY CLUSTERED 
(
	[StationNo] ASC,
	[OrderNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StationInfo]    Script Date: 17-03-2026 10:04:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StationInfo](
	[StationNo] [int] NOT NULL,
	[StationName] [nvarchar](50) NOT NULL,
 CONSTRAINT [StationNo_PK] PRIMARY KEY CLUSTERED 
(
	[StationNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DeliveryNote] ON 

INSERT [dbo].[DeliveryNote] ([OrderNo], [StartQuantity], [ItemNo]) VALUES (1, 50, 334284)
INSERT [dbo].[DeliveryNote] ([OrderNo], [StartQuantity], [ItemNo]) VALUES (2, 120, 123456)
INSERT [dbo].[DeliveryNote] ([OrderNo], [StartQuantity], [ItemNo]) VALUES (3, 75, 123456)
SET IDENTITY_INSERT [dbo].[DeliveryNote] OFF
GO
INSERT [dbo].[Employee] ([EmployeeID], [FullName], [Title]) VALUES (N'Bojo2037', N'Bob Johnson', N'Manager')
INSERT [dbo].[Employee] ([EmployeeID], [FullName], [Title]) VALUES (N'Jasm2036', N'Jane Smith', N'Supervisor')
INSERT [dbo].[Employee] ([EmployeeID], [FullName], [Title]) VALUES (N'Jodo2035', N'John Doe', N'Worker')
GO
INSERT [dbo].[Item] ([ItemNo]) VALUES (123456)
INSERT [dbo].[Item] ([ItemNo]) VALUES (234567)
INSERT [dbo].[Item] ([ItemNo]) VALUES (334284)
GO
INSERT [dbo].[StationInfo] ([StationNo], [StationName]) VALUES (0, N'LAGER')
INSERT [dbo].[StationInfo] ([StationNo], [StationName]) VALUES (100, N'PLANLÆGNING OPSTART')
INSERT [dbo].[StationInfo] ([StationNo], [StationName]) VALUES (200, N'ADSKILLE-UDTRYK-VASK')
GO
ALTER TABLE [dbo].[DeliveryNote]  WITH CHECK ADD  CONSTRAINT [DeliveryNote_FK] FOREIGN KEY([ItemNo])
REFERENCES [dbo].[Item] ([ItemNo])
GO
ALTER TABLE [dbo].[DeliveryNote] CHECK CONSTRAINT [DeliveryNote_FK]
GO
ALTER TABLE [dbo].[LogTime]  WITH CHECK ADD  CONSTRAINT [LogTime_FK] FOREIGN KEY([StationNo])
REFERENCES [dbo].[StationInfo] ([StationNo])
GO
ALTER TABLE [dbo].[LogTime] CHECK CONSTRAINT [LogTime_FK]
GO
ALTER TABLE [dbo].[LogTime]  WITH CHECK ADD  CONSTRAINT [LogTime_FK2] FOREIGN KEY([OrderNo])
REFERENCES [dbo].[DeliveryNote] ([OrderNo])
GO
ALTER TABLE [dbo].[LogTime] CHECK CONSTRAINT [LogTime_FK2]
GO
ALTER TABLE [dbo].[NumberProcessed]  WITH CHECK ADD  CONSTRAINT [NumberProcessed_FK1] FOREIGN KEY([StationNo])
REFERENCES [dbo].[StationInfo] ([StationNo])
GO
ALTER TABLE [dbo].[NumberProcessed] CHECK CONSTRAINT [NumberProcessed_FK1]
GO
ALTER TABLE [dbo].[NumberProcessed]  WITH CHECK ADD  CONSTRAINT [NumberProcessed_FK2] FOREIGN KEY([OrderNo])
REFERENCES [dbo].[DeliveryNote] ([OrderNo])
GO
ALTER TABLE [dbo].[NumberProcessed] CHECK CONSTRAINT [NumberProcessed_FK2]
GO
ALTER TABLE [dbo].[NumberProcessed]  WITH CHECK ADD  CONSTRAINT [NumberProcessed_FK3] FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employee] ([EmployeeID])
GO
ALTER TABLE [dbo].[NumberProcessed] CHECK CONSTRAINT [NumberProcessed_FK3]
GO
USE [master]
GO
